ul,li{
  list-style: none;
}
.header{
  width: 92%;
  margin: 0 auto;
  min-width: 1000px;
}
.all_type{
  margin-top: 70px;
}
.all_type .line{
  width: 96%;
  height: 1px;
  margin: 0 auto 30px;
  border-bottom: 1px solid #b7b7b7;
}
.all_type .above{
  overflow: hidden;
}
.all_type .bottom{
  width: 75%;
  overflow: hidden;
  margin: 60px auto;
}
dl{
  float: left;
  width: 25%;
  text-align: center;
  font-size: 14px;
  color: #464646;
}
.all_type .bottom dl{
  width: 33.3%;
}
dl dt{
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}
dl .wb{
  font-weight: bold;
}
dl .mb{
  margin-bottom: 20px;
}
dl .mbb{
  margin-bottom: 61px;
}
dt,dd{
  cursor: pointer;
}
dt:hover,dd:hover{
  color: #b7b7b7;
}
.footer{
  width: 100%;
  height: 140px;
  background: black;
  color: white;
}
.footer .logo{
  width: 100%;
  height: 50px;
  text-align: center;
}
.footer .logo img{
  display: inline-block;
  margin: 0 auto;
  width: 60px;
  height: 40px;
}
.footer .about{
  overflow: hidden;
  text-align: center;
}
.footer .about ul{
  overflow: hidden;
  width: auto;
  display: inline-block;
}
.footer .about ul li{
  float: left;
  margin: 15px 10px;
  cursor: pointer;
}
.footer .statement{
  text-align: center;
  margin-top: 10px;
}
.footer span{
  margin-left:20px; 
  position: relative;
  cursor: pointer;
}
.footer span i{
  width: 15px;
  height: 15px;
  background: url('../assets/img/beiAn.png');
  position: absolute;
  left: -15px;
}