.header{
  width: 100%;
  height: 130px;
  background: white;
}
.contant{
  width: 1000px;
  margin: 80px auto;
  color: #333;
}
.contant .left>div{
  margin-bottom: 20px;
  position: relative;
}
.contant .left .collect{
  margin-bottom: 15px;
}
.contant .left .share span,.contant .left .collect span{
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 40px;
}
.contant .left i{
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../assets/img/detail.png');
}
.contant .left .stars span{
  display: inline-block;
  width: 100px;
  height: 30px;
  background: url('../assets/img/stars.png') repeat-x;
  margin-left: 5px;
}
.contant .middle h1{
  text-align: center;
}
.contant .pic{
  width: 450px;
  height: 460px;
  margin: -20px auto 0;
  position: relative;
}
.contant .pic img{
  width: 450px;
  height: 450px;
  position: absolute;
  top: 0;
}
ul,li{
  list-style: none;
}
.contant .thumbnail ul{
  overflow: hidden;
  display: table;
  text-align: center;
  margin: 20px auto;
}
.contant .thumbnail li{
  float: left;
  width: 72px;
  height: 72px;
  padding: 6px;
  margin-right: 7px;
  cursor: pointer;
}
.contant .thumbnail li:hover{
  border: 1px solid #b7b7b7;
}
.contant .thumbnail .line{
  border: 1px solid #b7b7b7;
}
.contant .thumbnail li img{
  width: 100%;
  height: 100%;
}
.contant .right{
  margin-left: 20px;
}
.contant .right .color>div{
  width: 50px;
  height: 50px;
  border: 1px solid #b7b7b7;
  padding: 3px;
}
.contant .right .color>div img{
  width: 100%;
  height: 100%;
}
.contant .introduce{
  margin: 20px 0;
}
.contant .introduce span{
  display: block;
}
.contant .size_list{
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 20px;
  border-bottom: 1px solid #b7b7b7;
}
.contant .size_list .icon{
  font-size: 30px;
}